<% include header %>
<% if (user) { %>
    Logged in as <b><%= user.displayName %></b>. <a href="/logout">Logout</a>
<% } else { %>
    Not logged in. <a href="/auth/example">Login with OAuth2</a>
<% } %>
<% include footer %>
